<!DOCTYPE html>
<html>
<head>
  <title>Pokenea Frase</title>
</head>
<body>
  <h1>¡Tu Pokenea te quiere decir algo!</h1>
  <img src="https://taller02bucket.s3.us-east-1.amazonaws.com/<%= pokenea.id %>.png" alt="<%= pokenea.name %>" width="300">
  <p><em><%= pokenea.phrase %> -- <%= pokenea.name %><em></p>
  <p>Id del contenedor: <%= pokenea.containerId %></p>
</body>
</html>
